In [252]:
import numpy as np
import pandas as pd

In [253]:
df = pd.read_csv('df.csv')

In [254]:
df.describe()

,Number of Devices,Time Used (hrs),Total Cost (Rupees),Watt Consumption
count,1016.000000,1016.000000,1014.000000,1013.000000
mean,2.297244,5.898130,24.906824,705.646594
std,2.917289,5.911526,47.404912,735.555235
min,1.000000,0.250000,0.000000,15.000000
25%,1.000000,1.500000,3.000000,100.000000
50%,1.000000,4.000000,7.750000,350.000000
75%,2.000000,8.000000,27.965000,1000.000000
max,20.000000,24.000000,400.000000,3000.000000

In [255]:
#get unique values of each column
df.nunique()
#get name of unique values of Device column
df['Device'].unique()

array(['AC', 'Refrigerator', 'Fan', 'Light', 'Washing Machine',
       'Television', 'Water Heater', 'Iron', 'Computer', 'Mixer Grinder',
       'Electric Kettle', 'Air Cooler', 'Induction Cooktop',
       'Ceiling Fan', 'Water Pump'], dtype=object)

In [256]:
device_map = {
    'AC' : 'AC',
    'Refrigerator' : 'Refrigerator',
    'Television' : 'Television',
    'Light' : 'Light',
    'Fan' : 'Fan',
    'Washing Machine': 'Other',
    'Water Heater': 'Other', 
    'Iron': 'Other', 
    'Computer' : 'Other',  
    'Mixer Grinder': 'Other', 
    'Electric Kettle': 'Other',  
    'Air Cooler': 'Other', 
    'Induction Cooktop' : 'Other', 
    'Ceiling Fan' : 'Other', 
    'Water Pump' :'Other', 
}

df['Device'] = df['Device'].map(device_map)

In [257]:
df['Device'].unique()

array(['AC', 'Refrigerator', 'Fan', 'Light', 'Other', 'Television'],
      dtype=object)

In [258]:
df.shape

(1016, 5)

In [259]:
#Label encoding of device column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Device'] = le.fit_transform(df['Device'])
df['Device'].unique()

array([0, 4, 1, 2, 3, 5])

In [260]:
df.dropna(inplace=True)

In [261]:
df.isnull().sum()

Device                 0
Number of Devices      0
Time Used (hrs)        0
Total Cost (Rupees)    0
Watt Consumption       0
dtype: int64

In [262]:
x = df
y = df.pop('Time Used (hrs)')

In [263]:
#splitting data into train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0)

In [264]:
# #lr model
# from sklearn.linear_model import LinearRegression
# lr = LinearRegression()
# lr.fit(x_train,y_train)

In [265]:
# y_pred = lr.predict(x_test)

In [266]:
# lr.score(x_test,y_test)

In [267]:
from sklearn.metrics import mean_squared_error
# mean_squared_error(y_test,y_pred)

28.96807457237806

In [268]:
# new_input_ac = [[1, 5, 20, 1200]]
# pred = lr.predict(new_input_ac)
# pred

In [269]:
# #decision tree regressor
# from sklearn.tree import DecisionTreeRegressor
# dt = DecisionTreeRegressor()
# dt.fit(x_train,y_train)
# mean_squared_error(y_test,dt.predict(x_test))

In [270]:
#random forest regressor
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()#params
rf.fit(x_train,y_train)
mean_squared_error(y_test,rf.predict(x_test))

0.8837808452464975

In [272]:
import joblib
joblib.dump(rf,'ac.joblib')

['ac.joblib']