In [11]:
import pandas as pd
import numpy as np

In [12]:
#import the dataset
df = pd.read_csv('energydata.csv')

In [13]:
df.head()

,num_rooms,num_people,housearea,ac,tv,is_flat,ave_monthly_income,num_children,is_urban,amount_paid,AC_hours,TV_hours
0,2,3,541.84,1,1,0,1220.02,2,1,748.344250,16.411058,246.165872
1,3,5,1084.52,2,1,0,1587.70,1,0,456.256871,5.002817,150.084497
2,1,5,584.85,0,0,0,2108.61,0,1,440.812450,0.000000,0.000000
3,2,5,716.73,1,1,1,2314.23,1,0,359.948497,7.893607,118.404111
4,1,6,889.06,0,0,1,3012.21,1,0,308.839294,0.000000,0.000000

In [14]:
y = df['amount_paid']

In [15]:
x = df

In [16]:
#convert to int x
x = x.astype(int)
y = y.astype(int)

In [17]:
#train test split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = .2, random_state = 0)

In [19]:
#use random foresr classifier
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

In [21]:
#sccuracy score
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)
print(score)

0.035